---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}

{% for post in pubs %}
  <div class="pub-item" style="margin-bottom: 1.2em;">
    <div class="pub-title" style="font-weight: 600;">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </div>

    {% if post.authors %}
      <div class="pub-authors">{{ post.authors }}</div>
    {% endif %}

    {% if post.venue %}
      <div class="pub-venue"><em>{{ post.venue }}</em></div>
    {% endif %}

    {% if post.pdf %}
      <div class="pub-links">
        <a href="{{ post.pdf | relative_url }}">pdf</a>
      </div>
    {% endif %}
  </div>
{% endfor %}




